
<div class="jumbotron">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h1 align="center">Companion</h1>
      <p>Conan is a scenario-based boardgame and those scenarios are currently scattered across several booklets and
        <%= link_to "Monlith's", "http://www.monolithedition.com/conan-en/", target: :_blank %> own website.</p>
      <p>I've tried to collect the offical scenarios here, as well as information about the components that make up a scenario: maps, hero sheets, tiles, spells, items and skills.
      </p>
      <p>Fan made scenarios can be found on sites such as
      <%= link_to "The Overlord", "https://the-overlord.com/", target: :_blank %> or
      <%= link_to "BoardGameGeek", "https://boardgamegeek.com/boardgame/160010/conan", target: :_blank %>.
      </p>
      <br />
      <p>Happy hunting</p>
      <br /><br />
    </div>
  </div>
</div>
