<div class="jumbotron">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <h1>Companion</h1>
      <p align="center" class="jumbolabel">Welcome to the Conan Companion page</p>
      <div>
        <%= link_to "Go to Scenerios", scenarios_path, class: "btn btn-primary btn-lg btn-block center" %>
      </div>
    </div>
  </div>
  <!-- <%= link_to "Sign up now", signup_path, class: "btn btn-primary btn-lg btn-xlarge" %> -->
</div>
