<div class="jumbotron">
  <h1>Companion</h1>
  <p class="jumbolabel">Welcome to my Companion page for Conan<br />by
    <%= link_to "Monolith", "http://www.monolithedition.com/conan-en/", target: :_blank %>.<br /><br />
  </p>
  <div class="welcome">
    <%= link_to "Scenerios", scenarios_path, class: "btn btn-primary btn-lg btn-xlarge" %>
  </div>
  <!-- <%= link_to "Sign up now", signup_path, class: "btn btn-primary btn-lg btn-xlarge" %> -->
</div>
