<div class="jumbotron">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <h1 align="center">Companion</h1>
      <br /><br />
      <p>Welcome to the Conan Compaion, a cross-reference resource for Monolith's boardgame Conan.</p>
      <p>Look up scenarios, maps, heroes and more. </p>
      <br /><br />
      <%= link_to "Go to Scenerios", scenarios_path, class: "btn btn-primary btn-lg btn-block" %>
    </div>
  </div>
  <!-- <%= link_to "Sign up now", signup_path, class: "btn btn-primary btn-lg btn-xlarge" %> -->
</div>
