<h1 class="resource">Resources</h1>

<p>A few websites for additional Conan content</p>

<div class="row">
  <div class="col-md-6 col-sm-6">

    <div class="panel panel-primary">
      <div class="panel-heading">Monolith's Website&nbsp;&nbsp;&nbsp;&nbsp; Monolith products listed here.</div>
      <table class="table">
        <tr>
          <td class="resource">Home</td>
          <td class="resource"><a href="https://monolithedition.com/en/">https://monolithedition.com/en/</a></td>
        </tr>
      </table>
    </div>

        <div class="panel panel-primary">
      <div class="panel-heading">PDFs of Rules and Scenarios can be downloaded from here.</div>
      <table class="table">
        <tr>
          <td class="resource">Conan</td>
          <td class="resource"><a href="https://monolithedition.com/en/portfolio/conan/">https://monolithedition.com/en/portfolio/conan/</a></td>
        </tr>
      </table>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">BoardGameGeek&nbsp;&nbsp;&nbsp;&nbsp; All things related to board games</div>
      <table class="table">
        <tr>
          <td class="resource">Home</td>
          <td class="resource"><a href="https://boardgamegeek.com">https://boardgamegeek.com</a></td>
        </tr>
        <tr>
          <td class="resource">Conan</td>
          <td class="resource"><a href="https://boardgamegeek.com/boardgame/160010/conan">https://boardgamegeek.com/boardgame/160010/conan</a></td>
        </tr>
      </table>
    </div>

  </div>

  <div class="col-md-6 col-sm-6">

    <div class="panel panel-primary">
      <div class="panel-heading">The Overlord&nbsp;&nbsp;&nbsp;&nbsp; A Monolith sponsored site with rules and scenarios</div>
      <table class="table">
        <tr>
          <td class="resource">Home</td>
          <td class="resource"><a href="https://the-overlord.net">https://the-overlord.net</a></td>
        </tr>
        <tr>
          <td class="resource">Conan</td>
          <td class="resource"><a href="https://the-overlord.net/index.php?/forum/35-conan/">https://the-overlord.net/index.php?/forum/35-conan/</a></td>
        </tr>
        <tr>
          <td class="resource">Line of Sight Tool</td>
          <td class="resource"><a href="https://the-overlord.com/index.php?/conan/lignes-de-vues/">https://the-overlord.com/index.php?/conan/lignes-de-vues/</a></td>
        </tr>
      </table>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">Overlord Companion&nbsp;&nbsp;&nbsp;&nbsp; Maps, Rules, and Studio to create items for your game</div>
      <table class="table">
        <tr>
          <td class="resource">Conan</td>
          <td class="resource"><a href="https://companion.the-overlord.com/Conan/">https://companion.the-overlord.com/Conan/</a></td>
        </tr>
        <tr>
          <td class="resource">Studio</td>
          <td class="resource"><a href="https://companion.the-overlord.com/Conan/#studio">https://companion.the-overlord.com/Conan/#studio</a></td>
        </tr>
        <tr>
          <td class="resource">Line of Sight Tool</td>
          <td class="resource"><a href="https://the-overlord.com/Companion/Conan/#maps">https://the-overlord.com/Companion/Conan/#maps</a></td>
        </tr>
      </table>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">Conan Scenario Editor&nbsp;&nbsp;&nbsp;&nbsp; Scenario Editor with lots of fan created scenarios</div>
      <table class="table">
        <tr>
          <td class="resource">Home</td>
          <td class="resource"><a href="https://conan-scenarios.com">https://conan-scenarios.com</a></td>
        </tr>
      </table>
    </div>

  </div>
</div>
