$navbar-default-bg: #08088A;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
  color: yellow;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('Conan2.jpg');
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  height: 1024px;
}

.jumbotron h1 {
  color: #08088A;
  text-align: center;
  margin-top: 200px;;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbolabel {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  width: 350px;
  margin-left: 0%;
  margin-right: 10%;
  margin-top: 20px;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: #08088A;
  border-color: #08088A;
}

.welcome {
  margin-left: 15%;
}

.description {
  margin-top: 0;
}

.listing {
  list-style: none;
  padding-left: 0;
}

#by_count {
  display: none;
}

#by_complexity {
  display: none;
}

#by_map {
  display: none;
}

#by_type {
  display: none;
}

#by_cost {
  display: none;
}

#by_tile {
  display: none;
}

.btn-scenario {
    background-color: #d9edf7;
    color: #31708f;
}

.scenario a {
  color: #31708f;
}

h1.scenario {
  color: #31708f;
}

.panel-map > .panel-heading {
    background-color: #cccccc;
    color: #666666;
}

.panel-map {
    border-color: #cccccc;
    color: white;
}

.map a {
  color: #666666;
}

a.map {
  color: #666666;
}

h1.map {
  color: #666666;
}

h2.map {
  color: #666666;
}

.hero a {
  color: #3c763d;
}

a.hero {
  color: #3c763d;
}

h1.hero {
  color: #3c763d;
}

h2.hero {
  color: #3c763d;
}

.btn-tile {
    background-color: #ebccd1;
    color: #a94442;
}

.tile a {
  color: #a94442;
}

a.tile {
  color: #a94442;
}

h1.tile {
  color: #a94442;
}

h2.tile {
  color: #a94442;
}

.panel-spell > .panel-heading {
    background-color: #f2ccff;
    color: #8600b3;
}

.panel-spell {
    border-color: #f2ccff;
    color: white;
}

.btn-spell {
    background-color: #f2ccff;
    color: #8600b3;
}

.spell a {
  color: #8600b3;
}

a.spell {
  color: #8600b3;
}

h1.spell {
  color: #8600b3;
}

h2.spell {
  color: #8600b3;
}

.panel-item > .panel-heading {
    background-color: #fcf8e3;
    color: 	#8a6d3b;
}

.panel-item {
    border-color:  #fcf8e3;
    color: white;
}

.btn-item {
    background-color: #fcf8e3;
    color: 	#8a6d3b;
}

.item a {
  color:	#8a6d3b;
}

a.item {
  color: 	#8a6d3b;
}

h1.item {
  color: 	#8a6d3b;
}

h2.item {
  color: 	#8a6d3b;
}

a.skill {
  color: 	#0000b3;
}

.hidden {
  display: none
}

.thumbs img {
  width: 50px;
  height: auto;
}

.maps img {
  width: 90%;
  height: auto;
  margin-top: 20px;
}

.sm-maps img {
  width: 100px;
  height: auto;
}

.skills img {
  width: 150px;
  height: auto;
  margin-top: 20px;
}

.heroes img {
  width: 90%;
  height: auto;
  margin-top: 20px;
  border-radius: 20px;
}

.scenarios img {
  width: 90%;
  height: auto;
  margin-top: 20px;
}

.scenario h2 {
  background: gray;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -5px;
  margin-left: -5px;
  margin-right: -5px;
}

.scenario h3 {
  background: gray;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.tiles img {
  width: 90%;
  height: auto;
  margin-top: 20px;
  border-radius: 20px;
}

.tilestable table {
  border-spacing: 0;
  border-collapse: collapse;
  border: none;
  width: 80%;
}

.sm_tiles td {
  border:none;
  padding:5px;
}

.sm_tiles td img {
  width: 75px;
  height: auto;
  display: inline-block;
  border-radius: 5px;
}

.sm_tokens td {
  border:none;
  font-size: 20px;
}

.sm_tokens td img {
  height: 40%;
  width: auto;
  display: inline-block;
  border-radius: 50%;
}

.hero_stats th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.hero_stats img {
  height: 50px;
  width: auto;
}

.tile_stats th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.tile_stats img {
  height: 50px;
  width: auto;
}

.user-title {
  font-weight: bold;
  font-size: 1.5em;
}

.scenario-well {
  background: #e6e6e6;
  padding: 5px;
  border: solid gray 1px;
}

.river-well {
  background: #bfbfbf;
  padding-top: 10px;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: -20px;
}

.map-well {
  background: #e6e6e6;
  padding: 10px;
  border-radius: 10px;
}

.hero-well {
  background: #dff0d8;
  padding: 10px;
  border-radius: 10px;
}

.tile-well {
  background: #f8eded;
  padding: 10px;
  border-radius: 10px;
}

.item-well {
  background: #fdf9e8;
  padding: 10px;
  border-radius: 10px;
}

.spell-well {
  background: #f9e6ff;
  padding: 10px;
  border-radius: 10px;
}

.skill-well {
  background: #e6eeff;
  padding: 10px;
  border-radius: 10px;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.scen_setup {
  width: 60px;
  height: auto;
  border: 4px solid #b8a694;
  border-radius: 50%;
}

.scen_token {
  width: 30px;
  height: auto;
  border-radius: 50%;
}

.scen_sq_token {
  height: 30px;
  width: auto;
  border-radius: 5px;
}

.scen_event {
  width: 50px;
  height: auto;
  border-radius: 5px;
}

.scen_table {
  border-spacing: 0;
  border-collapse: collapse;
  border: none;
}

.scen_table td {
  text-align: left;
  border:none;
  padding:5px;
}

.sm_cards img {
  width: 30px;
  height: auto;
  border-radius: 5px;
}

.float_tile {
  float:right;
  width: 75px;
  height: auto;
  margin-left: 5px;
  margin-top: -10px;
  margin-bottom: 5px;
}


.special_title {
  font-weight: bold;
  text-decoration: underline;
  font-size: 125%;

}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float:right;
  list-style: none;
}

footer ul li {
  float:left;
  margin-left: 15px;
}

.prevnext_scenario {
  background: gray;
  margin: -5px;
  color: #fff;
  line-height: 70px;
}

.prevnext_hero {
  background: #3c763d;
  line-height: 30px;
}

.prevnext_tile {
  background: #a94442;
  line-height: 30px;
}

.prevnext_item {
  background: #8a6d3b;
  line-height: 30px;
}

.prevnext_spell {
  background: #8600b3;
  line-height: 30px;
}

.prevnext {
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}

.prevnext a {
  color: #fff;
}

.prevnext .next { float:right }
.prevnext .prev { float:left }
