$navbar-default-bg: #08088A;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
  color: yellow;
}

.center {
  text-align: center;
}

.center_all {
  margin: auto;
}

.jumbotron {
  background-image: asset-url('Conan2.jpg');
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  height: 1024px;
}

.jumbotron h1 {
  color: #08088A;
  text-align: center;
  margin-top: 200px;;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbolabel {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  width: 350px;
  margin-left: 0%;
  margin-right: 10%;
  margin-top: 20px;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: #08088A;
  border-color: #08088A;
}

.welcome {
  margin-left: 15%;
}

.description {
  margin-top: 0;
}

.listing {
  list-style: none;
  padding-left: 0;
}

#by_count {
  display: none;
}

#by_complexity {
  display: none;
}

#by_map {
  display: none;
}

#by_type {
  display: none;
}

#by_stat {
  display: none;
}


#by_cost {
  display: none;
}

#by_figure {
  display: none;
}

.btn-scenario {
  background-color: #d9edf7;
  color: #31708f;
}

.scenario a {
  color: #31708f;
}

h1.scenario {
  color: #31708f;
}

.panel-other_scenario > .panel-heading {
  background-color: #b3b3ff;
  color: #0000cc;
}

.panel-other_scenario {
  border-color: #b3b3ff;
  color: #0000cc;
}

.other_scenario a {
  color: #0000cc;
}

.panel-map > .panel-heading {
  background-color: #cccccc;
  color: #666666;
}

.panel-map {
  border-color: #cccccc;
  color: white;
}

.panel-hero {
  border-color: #3c763d;
  color: white;
}

.panel-hero > .panel-heading {
  background-color: #3c763d;
}

.map a {
  color: #666666;
}

a.map {
  color: #666666;
}

h1.map {
  color: #666666;
}

h2.map {
  color: #666666;
}

.btn-hero {
  background-color: #d6e9c6;
  color: #3c763d;
}

.hero a {
  color: #3c763d;
}

a.hero {
  color: #3c763d;
}

h1.hero {
  color: #3c763d;
}

h2.hero {
  color: #3c763d;
}

.btn-tile {
  background-color: #ebccd1;
  color: #a94442;
}

.tile a {
  color: #a94442;
}

a.tile {
  color: #a94442;
}

h1.tile {
  color: #a94442;
}

h2.tile {
  color: #a94442;
}

.modeltile img
{
  max-width: 150px;
  margin: 10px;
}

.model_table
{
  float: left;
  height: 300px;
  margin: 0;
  padding: 0;
}

.tr_first img
{
  height: 200px;
}

.tr_second td
{
  height: 50px;
}

.panel-model > .panel-heading {
  background-color: #ecd9c6;
  color: #996633;
}

.panel-model_story > .panel-heading {
  background-color: #996633;
  color: white;
}

.panel-model_story {
  border-color: #ecd9c6;
  color: white;
}

.panel-model {
  border-color: #ecd9c6;
  color: #996633;
}

.btn-model {
  background-color: #ecd9c6;
  color: #996633;
}

.model a {
  color: #996633;
}

a.model {
  color: #996633;
}

h1.model {
  color: #996633;
}

h2.model {
  color: #996633;
}

.panel-spell > .panel-heading {
  background-color: #f2ccff;
  color: #8600b3;
}

.panel-spell {
  border-color: #f2ccff;
  color: #8600b3;
}

.btn-spell {
  background-color: #f2ccff;
  color: #8600b3;
}

.spell a {
  color: #8600b3;
}

a.spell {
  color: #8600b3;
}

h1.spell {
  color: #8600b3;
}

h2.spell {
  color: #8600b3;
}

.panel-item > .panel-heading {
  background-color: #fcf8e3;
  color: 	#8a6d3b;
}

.panel-item {
  border-color:  #fcf8e3;
  color: #8a6d3b;
}

.panel-item-show > .panel-heading {
  background-color: #fbf3d0;
  color: 	#8a6d3b;
}

.panel-item-show {
  border-color:  #fbf3d0;
  color: white;
}


.btn-item {
  background-color: #fcf8e3;
  color: 	#8a6d3b;
}

.item a {
  color:	#8a6d3b;
}

a.item {
  color: 	#8a6d3b;
}

h1.item {
  color: 	#8a6d3b;
}

h2.item {
  color: 	#8a6d3b;
}

a.skill {
  color: 	#0000b3;
}

h2.skill {
  color: #0000b3;
}


.btn-product {
  background-color: #68b7fd;
  color: #0275d8;
}

.product a {
  color:	#0275d8;
}

a.product {
  color: 	#0275d8;
}

h1.product {
  color: 	#337ab7;
}

h2.product {
  color: 	#0275d8;
}


.hidden {
  display: none;
}

.stats img {
  width: 25px;
  height: auto;
}

.stats th {
  padding: 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: center;
 }

.tilestats th {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
 }

 .herostats th {
   color: #3c763d;
   background-color: #dff0d8;
   border-color: #d6e9c6;
  }

.modelstats th {
  background-color: #ecd9c6;
  color: #996633;
}

.spellstats th {
  background-color: #f2ccff;
  color: #8600b3;
}

.itemstats th {
  background-color: #fcf8e3;
  color: 	#8a6d3b;
 }

.thumbs img {
  width: 50px;
  height: auto;
}

.maps img {
  width: 90%;
  height: auto;
  margin-top: 20px;
}

.sm-maps img {
  width: 100px;
  height: auto;
}

.skills img {
  width: 150px;
  height: auto;
  margin-top: 20px;
}

.heroes img {
  width: 90%;
  height: auto;
  margin-top: 20px;
  border-radius: 20px;
}

.products img {
  width: 90%;
  height: auto;
  margin-top: 20px;
  border-radius: 20px;
}

.scenarios img {
  width: 90%;
  height: auto;
  margin-top: 20px;
}

.scenario h2 {
  background: gray;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -5px;
  margin-left: -5px;
  margin-right: -5px;
}

.scenario h3 {
  background: gray;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.tiles img {
  height: 370px;
  width: auto;
  margin-top: 20px;
  border-radius: 20px;
}

.tilestable table {
  border-spacing: 0;
  border-collapse: collapse;
  border: none;
  width: 80%;
}

.sm_tiles td {
  width: 10%;

  border:none;
  padding:5px;
}

.sm_tiles td img {
  width: 90%;
  height: auto;
  display: inline-block;
  border-radius: 5px;
}

.sm_tokens td {
  border:none;
  font-size: 18px;
}

.sm_tokens td img {
  width: 40px;
  height: auto;
  border-radius: 50%;
}

.hero_stats th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.hero_stats img {
  height: 50px;
  width: auto;
}

.hero_stats_mini th, td {
  padding: 2px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.hero_stats_mini img {
  height: 25px;
  width: auto;
}

.hero_stats_mini  {
  margin: 0px;
}

.herosheet
{
  border: 4px solid #999999;
  border-radius: 4px;

}

.tile_stats th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.tile_stats img {
  height: 50px;
  width: auto;
}

.user-title {
  font-weight: bold;
  font-size: 1.5em;
}

.scenario-well {
  background: #e6e6e6;
  padding: 5px;
  border: solid gray 1px;
}

.t-rating-well {
  background: #bfbfbf;
  padding: 2px;
  border-radius: 5px;
  min-height: 100px;
}

.s-rating-well {
  background: #f2f2f2;
  padding: 2px;
  border-radius: 5px;
  min-height: 100px;
}

.river-well {
  background: #bfbfbf;
  padding-top: 10px;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: -20px;
}

.map-well {
  background: #e6e6e6;
  padding: 10px;
  border-radius: 10px;
}

.hero-well {
  background: #dff0d8;
  padding: 10px;
  border-radius: 10px;
}

.tile-well {
  background: #f8eded;
  padding: 10px;
  border-radius: 10px;
}

.item-well {
  background: #fdf9e8;
  padding: 10px;
  border-radius: 10px;
}

.spell-well {
  background: #f9e6ff;
  padding: 10px;
  border-radius: 10px;
}

.model-well {
  background: #ecd9c6;
  padding: 10px;
  border-radius: 10px;
}

.product-well {
  background: #e6f3ff;
  padding: 10px;
  border-radius: 10px;
}

.skill-well {
  background: #e6eeff;
  padding: 10px;
  border-radius: 10px;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.scen_setup {
  width: 60px;
  height: auto;
  border: 4px solid #b8a694;
  border-radius: 50%;
}

.scen_token {
  width: 30px;
  height: auto;
  border-radius: 50%;
}

.scen_sq_token {
  height: 30px;
  width: auto;
  border-radius: 5px;
}

.scen_event {
  width: 50px;
  height: auto;
  border-radius: 5px;
}

.scen_x {
  font-weight: bold;
  font-size: 150%;
  color: #cc3300;
}

.scen_check {
  font-weight: bold;
  font-size: 150%;
  color: #006600;
}

.scen_table {
  border-spacing: 0;
  border-collapse: collapse;
  border: none;
    margin-top: 10px;
}

.scen_table td {
  text-align: left;
  border:none;
  padding:5px;
  background-color: #d9d9d9;
  width: 400px;
}

.scen_table tr > td:first-child {
  background-color: #bfbfbf;
  text-align: center;
  width: 70px;
}

.scen_table tr > td:last-child {
  text-align: left;
  width: 70px;
}

.scen_table tr > td > h4 {
  margin-top: -3px;
  margin-bottom: -3px;
}

.scen_table tr > td > h3 {
  margin-top: -3px;
  margin-bottom: -3px;
}

.sm_cards img {
  width: 30px;
  height: auto;
  border-radius: 5px;
}

.sm_cards td {
  text-align: left;
  border:none;
  padding:5px;
  background-color:  #e6e6e6;
  width: 600px;
}

.sm_cards tr > td:first-child {
  text-align: center;
  background-color:  #e6e6e6;
  width: 70px;
}

.sm_cards tr > td:last-child {
  text-align: center;
  background-color:  #e6e6e6;
  width: 70px;
}

.float_tile {
  float:right;
  width: 75px;
  height: auto;
  margin-left: 5px;
  margin-top: -10px;
  margin-bottom: 5px;
}

.special_title {
  font-weight: bold;
  text-decoration: underline;
  font-size: 125%;
}

.setup_suggestion {
  font-weight: bold;
  text-decoration: underline;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float:right;
  list-style: none;
}

footer ul li {
  float:left;
  margin-left: 15px;
}

.prevnext_scenario {
  background: gray;
  line-height: 30px;
}

.prevnext_map {
  background: #666666;
  line-height: 30px;
}

.prevnext_hero {
  background: #3c763d;
  line-height: 30px;
}

.prevnext_tile {
  background: #a94442;
  line-height: 30px;
}

.prevnext_item {
  background: #8a6d3b;
  line-height: 30px;
}

.prevnext_spell {
  background: #8600b3;
  line-height: 30px;
}

.prevnext_model {
  background: #996633;
  line-height: 30px;
}

.prevnext_product {
  background: #0275d8;
  line-height: 30px;
}

.prevnext_skill {
  background: #0000b3;
  line-height: 30px;
}

.prevnext {
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}

.prevnext a {
  color: #fff;
}

.prevnext .next { float:right }
.prevnext .prev { float:left }
