<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="http://abelpdx.com/">David Abel</a>
    </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li>Some Link</li>
    </ul>
  </nav>
</div>
