<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="http://abelpdx.com/" target="_blank">David Abel</a>
    </small>
  <nav>
    <ul>
      <%= link_to "About CC", about_path %> &nbsp; | &nbsp;
      <a href="http://www.monolithedition.com/conan-en/" target="_blank">Monlith's Website</a>
    </ul>
  </nav>
</div>
